{{ partial "header" . }}

<main>

    <!-- <div class="intro"> -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1>{{ .Site.Title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <img src="logo.png" class="img-fluid" alt="TDH Logo">
          </div>
        </div>
        <div class="row" >
          <br>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>{{ markdownify .Site.Params.Tagline }}</p>
          </div>
          <div class="col-sm-6">
            <p>{{ markdownify .Site.Params.Description }}</p>
          </div>
        </div>
      </div>

    <!-- </div> -->

</main>

{{ partial "footer" . }}
