{{ partial "header" . }}

<main style="margin-top:0; padding-top:0;">

    <!-- <div class="intro"> -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <img src="logo.png" class="img-fluid" alt="TDH Logo">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h1>{{ .Site.Title }}</h1>
          </div>
        </div>
        <div class="row" >
          <hr>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>{{ markdownify .Site.Params.Tagline }}</p>
          </div>
        </div>
        <div class="row" >
          <hr>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <img style="max-width: 100%" src="/img/portfolio/IMG_7682.JPG" class="img-fluid" alt="Alison and HB">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>{{ markdownify .Site.Params.Description }}</p>
          </div>
        </div>
      </div>

    <!-- </div> -->

</main>

{{ partial "footer" . }}
